<h1>Add a new question:</h1>

<%= form_for [@survey, @question] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
<div class="radio">
  <%= f.radio_button :answer1, 'Blue', :checked => true %> Favorite color. 
  <br />
  <%= f.radio_button :answer2, 'Red',true, !!params[:answer2] %> Favorite color. 
</div>
  <p><%= f.submit %></p>
<% end %>

 