<!DOCTYPE html>
<html>
  <head>
    <title>SurveyRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <%= flash[:alert] %>
  <%= flash[:notice] %>

    <%= yield %>

    <% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><a href="/surveys">Surveys</a></li>
  <li><a href="/questions">Questions</a></li>
<% end %> 

  </body>
</html>
